@import url('https://fonts.googleapis.com/css?family=Ubuntu');

// Colors
$primary-color: #475d68;
$primary-text: #f9f9f9;
$secondary-color: #384952;
$accent-color: #00d3d3;
$secondary-accent-color: #65ecec;


// Typefaces
$primary-typeface: 'Ubuntu', sans-serif;