@import 'variables';

body, html, body > div, body > div > div {
    height: 100%;
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background: $primary-color;
    color: $primary-text;
    font-family: $primary-typeface;
    box-sizing: border-box;
    overflow: hidden;
}
html {
    position: relative;
}
body {
    position: absolute;
    z-index: -1000;
}
main {
    overflow-y: auto;
    max-height: 100%;
}
section {
    max-width: 780px;
    margin: 20px auto;
}

.primary-text {
    color: $primary-text;
}

p {
    font-size: 1.1em;
    line-height: 1.3em;
}

a {
    color: $accent-color;
    text-decoration: none;
}
a:hover {
    color: $secondary-accent-color;
}

.flexbox {
    display: flex;

    .child {
        flex: 0 1 auto;
    }
}
.flexbox.column {
    flex-direction: column;
}
.flexbox.row {
    flex-direction: row;
}

header {
    width: 100%;
    background: $secondary-color;
    padding: 20px 0;
}

footer {
    background: $secondary-color;
}

.shadow-1 {
    box-shadow: $shadow-1;
    transition: $shadow-transition;
}
.shadow-1:hover {
    box-shadow: $shadow-2;
}
.shadow-2 {
    box-shadow: $shadow-2;
    transition: $shadow-transition;
}
.shadow-2:hover {
    box-shadow: $shadow-3;
}

h1 {
    font-size: 2em;
}

.center {
    text-align: center;
}

.larger {
    font-size: 1.5em;
}

.button {
    display: block;
    border-radius: 3px;
    color: $primary-text;
    background: nth(map-get($colors, "primary"), 1);
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    margin: 5px;

    &.flat {
        background: none;
        margin: 1px;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    &.full {
        width: 100%;
    }
    
    &:hover {
        background: nth(map-get($colors, "primary"), 2);
        color: $primary-text;
        cursor: pointer;
    }

    @each $i in $colors {
        &.#{nth($i, 1)} {
            background: nth(nth($i, 2), 1);

            &:hover {
                background: nth(nth($i, 2), 2);
            }
        }
    }
}

.card {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 5px;
    padding: 5px 15px;

    .links {
        background: none;
        width: 100%;
        padding: 10px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}