<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- OpenGraph -->
    <title>BZZTTT MALFUNCTION</title>

    <link rel="icon" type="image/png" href="/img/blargbotmini.png">

    <meta name="author" content="UNAVAILABLE">

    <meta content="BZZT SYSTEM OVERLOAD" property="og:description">

    <meta content="INTERNET MACHINE BROKE" property="og:title">
    <meta content="MALFUNCTION" property="og:site_name">
    <meta content='http://blargbot.xyz/color/0000ff' property='og:image'>
    <meta content='https://blargbot.xyz/color/0000ff' property='og:image:secure_url'>
    <meta content='image/png' property='og:image:type'>
    <meta content='512' property='og:image:width'>
    <meta content='512' property='og:image:height'>

</head>

<body>

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            background: rgb(0, 0, 170);
            color: #fff;
            font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
            font-size: 1.2rem;
            user-select: none;
        }

        html {
            width: 100%;
            height: 100%;
        }

        body {
            margin-top: 20px;
            margin-left: 5px;
            margin-bottom: 5px;
            max-width: 90%;
            width: 1200px;
        }

        pre,
        a {
            font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
            font-size: 1.2rem;
        }

        pre {
            white-space: pre-wrap;
        }

        pre,
        p {
            cursor: default;
        }

        a {
            color: #fff;
            background: transparent;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            transition: text-shadow ease-in-out 0.5s;
        }

        a:hover {
            text-shadow: 0 2px 10px #000;
        }
    </style>
    <p>A problem has been detected and blargbot has been shut down due to irreparable damage. We were unable to access it.</p>
    <p>The problem seems to be caused by the following organization: US_CONGRESS</p>
    <p>NET_NEUTRALITY_FAULT</p>
    <p>If this is the first time you've seen this Stop error screen, you may want to read up on the FCC and Congress and how
        they are trying to end net neutrality. This will greatly affect many free services, including blargbot. The damage
        will also not be limited to the US, as it will affect everyone hosting content over the internet, while also paving
        the way for other countries to follow suite.</p>
    <p>If problems continue, disable or remove Congress's ability to revoke net neutrality. Make your voice heard. Join the
        petition at <a href="https://www.battleforthenet.com/">www.battleforthenet.com</a>.</p>
    <p>Technical information:</p>
    <pre>*** STOP: 0x00000020 (0xFCC4D8A2, 0x00000001, 0xFCC5E8B1, 0x00000000)</pre>
    <pre>***   US_CONGRESS - Address FCC4D8A2 base at FCC5E8B1, DateStamp July12</pre>
    <p>To continue to the main site, please <a href="/main">click here</a>.</p>
</body>

</html>