<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<!-- Latest compiled and minified CSS -->
	<!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
	<!--Import Google Icon Font-->
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<link rel="stylesheet" href="../css/main.css">

	<!-- Font Awesome -->
	<script src="//use.fontawesome.com/811ca3dd9f.js"></script>

	<!-- jQuery library -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Compiled and minified JavaScript -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

	<!-- Misc Scripts -->
	<script src="../js/scripts.js"></script>

	<!-- Fonts -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- OpenGraph -->
	<title>commands</title>

	<link rel="icon" type="image/png" href="/img/blargbotmini.png">

	<meta name="author" content="stupid cat">

	<meta content="Documentation for all the commands blargbot has to offer." property="og:description">

	<meta content="Command Documentation" property="og:title">
	<meta content="blargbot" property="og:site_name">
	<meta content='http://blargbot.xyz/img/blargbot.png' property='og:image'>
	<meta content='https://blargbot.xyz/img/blargbot.png' property='og:image:secure_url'>
	<meta content='image/png' property='og:image:type'>
	<meta content='512' property='og:image:width'>
	<meta content='512' property='og:image:height'>

</head>

<style>
	.wrap {
		white-space: pre-wrap;
		/* Since CSS 2.1 */
		white-space: -moz-pre-wrap;
		/* Mozilla, since 1999 */
		white-space: -pre-wrap;
		/* Opera 4-6 */
		white-space: -o-pre-wrap;
		/* Opera 7 */
		word-wrap: break-word;
	}
</style>

<body class="blue-grey">
	{{> sidebar}}

	<a class="btn-floating btn-primary button-collapse btn-large waves-effects waves-light" data-activates="slide-out">
		<i class="large material-icons">menu</i></a>

	<header class="page-header">
		<h1 class="centre">Command List</h1>
	</header>
	<main>
		<div class="section">
			<div class="row">
				<div class="col s12 m10 offset-m1 l8 offset-l2">
					<div class="card blue-grey darken-2">
						<div class="card-content">
							<p class="flow-text">blargbot is equipped with a number of miscellaneous commands. By default, blargbot responds to <code>b!</code>, <code>blargbot</code>,
								and mentions. You can add your own custom prefixes with the setprefix command.</p>

							<p class="flow-text">Some commands have permission requirements. In order to satisfy them, you need to have a role with the name detailed
								in the Permissions section.</p>

							<p class="flow-text">Usage legend:</p>

							<p class="flow-text">&lt;&gt; - denotes a required parameter</p>

							<p class="flow-text">[] - denotes an optional parameter</p>

							<p class="flow-text">Some commands are able to take flag parameters. All flags are divided into flag codes (prefixed by -) and words (prefixed
								by --). You can provide them in any order, but they should all be specified at the end of a command.</p>
							<p class="flow-text">For example, if a command takes a user input, you'd be able to use <code>-u</code> or <code>--user</code>.</p>

							<pre><code>b!command --user @user#1234
b!command -u @user#1234</code></pre>

							<p class="flow-text">You can also chain flag codes together. For example, <code>-flag test</code> would activate flags <code>f</code>,
								<code>l</code>, <code>a</code>, and give the content 'test' to <code>g</code>.</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			{{#commands}}{{/commands}}
		</div>
	</main>
	<footer class="page-footer blue-grey darken-2">
		<div class="section">
			<div class="rows">
				<div class="col s12 m10 offset-m1 l6 offset-l3">
					<p class="centre">
						&copy; 2016-2018 - Ratismal (stupid cat)
					</p>
				</div>
			</div>
		</div>
	</footer>

	<script>
    init();
</script>


</body>

</html>