<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Latest compiled and minified CSS -->
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="//use.fontawesome.com/811ca3dd9f.js"></script>

    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Misc Scripts -->
    <script src="../js/scripts.js"></script>

    <!-- Fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- OpenGraph -->

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="../css/main.css">

    <title>dashboard</title>

    <link rel="icon" type="image/png" href="/img/blargbotmini.png">

    <meta name="author" content="stupid cat">

    <meta content="Manage the bot's settings from the comfort of a website." property="og:description">

    <meta content="Dashboard" property="og:title">
    <meta content="blargbot" property="og:site_name">
    <meta content='http://blargbot.xyz/img/blargbot.png' property='og:image'>
    <meta content='https://blargbot.xyz/img/blargbot.png' property='og:image:secure_url'>
    <meta content='image/png' property='og:image:type'>
    <meta content='512' property='og:image:width'>
    <meta content='512' property='og:image:height'>

</head>

<body class="blue-grey">


    {{> sidebar}}



    <a class="btn-floating btn-primary button-collapse btn-large waves-effects waves-light" data-activates="slide-out">
        <i class="large material-icons">menu</i></a>

    <header class="page-header">


        <h1 class="centre">dashboard</h1>
    </header>
    <main>

        <div class='container'>
            <h3>Unavailable</h3>
            <p>Sorry about that.</p>
        </div>
        {{!--
        <div class="section">
            <div class="row">
                <div class="col s12 ">
                    <div class="card blue-grey darken-2">
                        {{#if user}}

                        <div id='workspace'>
                            {{> displayGuilds}}
                        </div>

                        {{else}}
                        <span class='card-content'>You need to be logged in to use this!</span> {{/if}}
                    </div>
                </div>
            </div>
        </div> --}}

    </main>
    <!-- Menu Toggle Script -->
    <script>
        init();

    </script>
    <footer class="page-footer blue-grey darken-2">
        <div class="section">
            <div class="rows">
                <div class="col s12 m10 offset-m1 l6 offset-l3">
                    <p class="centre">
                        &copy; 2016-2021 - Ratismal (stupid cat)
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>

<script>
    $(document).ready(function () {
        $('.modal-trigger').leanModal();
        $('select').material_select();
    });

    var sid = '{{sessionId}}';  
    var wss = new WebSocket('{{url}}');
</script>
<script src="/js/dashboard.js"></script>

<div id="settings-modal" class="modal modal-fixed-footer blue-grey darken-2">
    <div class="modal-content">
        <h3 id="modal-guild"></h3>
        <p>This settings dashboard is incomplete and in beta. Use at your own risk.</p>
        <form>
            <h4>Messages</h4>
            Greetings
            <div class='row'>
                <div class='col s12 m9'><label for='greeting'>Greeting Message</label>
                    <textarea placeholder='The message that will be outputted when somebody joins the guild. BBTag compatible.' id='greeting'
                        class='materialize-textarea'></textarea>
                </div>
                <div class='col s12 m3'>
                    <div class='input-field'>
                        <select id='greetingchan' class='channel-selector' data-default='default'>
                                            </select> <label>Greeting Channel</label>
                    </div>
                </div>
            </div>
            Farewells
            <div class='row'>
                <div class='col s12 m9'><label for='farewell'>Farewell Message</label>
                    <textarea placeholder='The message that will be outputted when somebody leaves the guild. BBTag compatible.' id='farewell'
                        class='materialize-textarea'></textarea>
                </div>
                <div class='col s12 m3'>
                    <div class='input-field'>
                        <select id='farewellchan' class='channel-selector' data-default='default'>
                                            </select> <label>Farewell Channel</label>
                    </div>
                </div>
            </div>
            <h4>Administrative</h4>

            <div class='row'>
                <div class='col s12'>
                    <p class="range-field">
                        Anti-Mention Spam
                        <label for='antimention'>The number of unique mentions allowed in a message before banning. 0 to disable.</label>
                        <input type="range" id="antimention" min="0" max="50" />
                    </p>
                </div>
            </div>
            <div class='row'>
                <div class='col s12 m4 centre'>
                    Make Chatlogs
                    <div class="switch">
                        <label>
      Off
      <input type="checkbox" id='makelogs'>
      <span class="lever"></span>
      On
    </label>
                    </div>
                </div>
                <div class='col s12 m4'>
                    <div class='input-field'>
                        <select id='modlog' class='channel-selector' data-default='none'>
                                            </select> <label>Modlog Channel</label>
                    </div>
                </div>
                <div class='col s12 m4'>
                    <div class='input-field'>
                        <select id='mutedrole' class='role-selector' data-default='none'>
                                            </select> <label>Muted Role</label>
                    </div>
                </div>
            </div>
            <h4>Permissions</h4>
            <div class='row'>
                <div class='col s12 m4 centre'>
                    Permission Override
                    <div class="switch">
                        <label>
      Off
      <input type="checkbox" id='permoverride'>
      <span class="lever"></span>
      On
    </label>
                    </div>
                </div>
                <div class='col s12 m4 input-field'>
                    <input id="staffperms" type="number" class="validate">
                    <label for="staffperms">Staff Permissions</label>
                </div>
            </div>
            <div class='row'>
                <div class='col s12 m4 centre'>
                    <a class='waves-effect waves-light btn' href="https://discordapi.com/permissions.html" target="_blank">Calculator</a>
                </div>
                <div class='col s12 m4 offset input-field'>
                    <input id="kickoverride" type="number" class="validate">
                    <label for="kickoverride">Kick Override</label>
                </div>
                <div class='col s12 m4 input-field'>
                    <input id="banoverride" type="number" class="validate">
                    <label for="banoverride">Ban Override</label>
                </div>
            </div>
            <h4>Misc</h4>
            <div class='row'>
                <div class='col s12 m4 centre'>
                    Tableflips
                    <div class="switch">
                        <label>
      Off
      <input type="checkbox" id='tableflip'>
      <span class="lever"></span>
      On
    </label>
                    </div>
                </div>
                <div class='col s12 m4 centre'>
                    CAH NSFW
                    <div class="switch">
                        <label>
      Off
      <input type="checkbox" id='cahnsfw'>
      <span class="lever"></span>
      On
    </label>
                    </div>
                </div>
                <div class='col s12 m4 centre'>
                    DM Help
                    <div class="switch">
                        <label>
      Off
      <input type="checkbox" id='dmhelp'>
      <span class="lever"></span>
      On
    </label>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col s12'><label for='prefix'>Custom Prefix</label>
                    <textarea placeholder='The custom prefix for your guild. Does not replace the original prefix.' id='prefix' class='materialize-textarea'></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer blue-grey darken-4 ">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat white-text ">Close</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat white-text " onclick="save()">Save</a>
    </div>
</div>

</html>