<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Latest compiled and minified CSS -->
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="/css/main.css">

    <!-- Font Awesome -->
    <script src="//use.fontawesome.com/811ca3dd9f.js"></script>

    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Misc Scripts -->
    <script src="/js/scripts.js"></script>

    <!-- Fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- OpenGraph -->
    <title>Donations</title>

    <link rel="icon" type="image/png" href="/img/blargbotmini.png">

    <meta name="author" content="stupid cat">

    <meta content="A multipurpose discord bot, here to serve you!" property="og:description">

    <meta content="blargbot" property="og:title">
    <meta content="blargbot" property="og:site_name">
    <meta content='http://blargbot.xyz/img/blargbot.png' property='og:image'>
    <meta content='https://blargbot.xyz/img/blargbot.png' property='og:image:secure_url'>
    <meta content='image/png' property='og:image:type'>
    <meta content='512' property='og:image:width'>
    <meta content='512' property='og:image:height'>

</head>

<body class="blue-grey">
    {{> sidebar}}

    <a class="btn-floating btn-primary button-collapse btn-large waves-effects waves-light" data-activates="slide-out">
        <i class="large material-icons">menu</i></a>

    <header class="page-header">
        <h1 class="centre">Donations</h1>
    </header>
    <main>

        <div class="section">

            <div class="row">
                <div class="col s12 m10 offset-m1 l8 offset-l2">
                    <div class='card blue-grey darken-3 z-depth-2'>
                        <div class='card-content'>
                            <span class='card-title'>blargbot is free.</span>
                            <p class='flow-text'>I do not and will not charge money for any of blargbot's functionality. However, running it is
                                most definitely not free. I put my own money into domains and web servers to keep the bot
                                running.</p>
                            <br>
                            <p class='flow-text'>I don't like to beg, but right now I am a student attending university. Tuition is expensive,
                                and money is tight. I don't expect to be paid for what I'm doing, but if you'd like to support
                                me and help keep blargbot running, I have some donation options available.
                            </p>
                            <div class='row'>
                                <div class='col s12 m6'><a class='btn btn-primary full waves-effect waves-light z-depth-2' href='https://www.patreon.com/blargbot'>Patreon</a></div>
                                <div class='col s12 m6'><a class='btn btn-primary full waves-effect waves-light z-depth-2' href='https://paypal.me/stupidcat'>Paypal</a></div>
                            </div>
                            <p class='flow-text center'>Thank you for all of your support. I really couldn't do this without you!</p>
                            <p class='flow-text center'>❤</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer blue-grey darken-2">
        <div class="section">
            <div class="rows">
                <div class="col s12 m10 offset-m1 l6 offset-l3">
                    <p class="centre">
                        &copy; 2016 - Ratismal (stupid cat)
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Menu Toggle Script -->
    <script>
    init();
</script>


</body>

</html>