<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<!-- Latest compiled and minified CSS -->
	<!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
	<!--Import Google Icon Font-->
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<link rel="stylesheet" href="../css/main.css">

	<!-- Font Awesome -->
	<script src="//use.fontawesome.com/811ca3dd9f.js"></script>

	<!-- jQuery library -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Compiled and minified JavaScript -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

	<!-- Misc Scripts -->
	<script src="../js/scripts.js"></script>

	<!-- Fonts -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- OpenGraph -->
	<title>Important update</title>

	<link rel="icon" type="image/png" href="/img/blargbotmini.png">

	<meta name="author" content="stupid cat">

	<meta content="An update about the recent data loss." property="og:description">

	<meta content="Important update" property="og:title">
	<meta content="blargbot" property="og:site_name">
	<meta content='http://blargbot.xyz/img/blargbot.png' property='og:image'>
	<meta content='https://blargbot.xyz/img/blargbot.png' property='og:image:secure_url'>
	<meta content='image/png' property='og:image:type'>
	<meta content='512' property='og:image:width'>
	<meta content='512' property='og:image:height'>

</head>

<body class="blue-grey">

	{{> sidebar}}

	<a class="btn-floating btn-primary button-collapse btn-large waves-effects waves-light" data-activates="slide-out">
        <i class="large material-icons">menu</i></a>

	<nav class='blue-grey darken-1' id='trail'>
		<div class='nav-wrapper'>
			<div class='col s12'>
				<a href='/' class='breadcrumb'>blargbot</a>
				<a href='#' class='breadcrumb'>Migration Plan</a>
			</div>
		</div>
	</nav>

	<header class="page-header">
		<h1 class="centre">Migration Plan</h1>
	</header>
	<main>
		<div class="section">
			<div class="row">
				<div class="col s12 m10 offset-m1 update">
					<p>Hello, everyone! I have some exciting news to share.</p>

          <p>Our super wonderful incredible awesome brilliant 
            amazing developers Danny May#0001 and RagingLink#9469 have been working 
            tirelessly to rewrite blargbot using TypeScript, and we're reaching the point 
            where it's ready to be deployed!</p>

          <p>blargbot has been struggling a bit lately, so this rewrite should 
            help performance as well as improve the user experience of the bot.</p>

          <p>Since it's an entirely new codebase, deployment is going to be tricky,
            and may take a while. Thus, I'm giving a <strong>week's notice</strong> - on June 4th, 10:00AM MST, 
            <strong>blargbot will be taken offline for the migration process</strong>. It's hard to estimate, 
            but the process may take upwards of a few hours to complete, during which blargbot 
            will most likely be unresponsive. We will have contingencies in place in case the 
            upgrade goes sideways - worst case scenario, a backup will be restored and the 
            current codebase will continue to be used until we resolve issues.</p>

          <p>I apologize in advance for any inconveniences this downtime may cause, but I hope you're
            just as excited as I am - this has been in the works for about 1.5 years, and the team has
            done an absolutely phenomenal job on it!</p>

          <p>Thank you!</p>
				</div>
			</div>
		</div>
		<!-- Menu Toggle Script -->
		<script>
            init();
        </script>
	</main>
	<footer class="page-footer blue-grey darken-2">
		<div class="section">
			<div class="rows">
				<div class="col s12 m10 offset-m1 l6 offset-l3">
					<p class="centre">
						&copy; 2016-2021 - Ratismal (stupid cat)
					</p>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>