<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Latest compiled and minified CSS -->
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="/css/main.css">

    <!-- Font Awesome -->
    <script src="//use.fontawesome.com/811ca3dd9f.js"></script>

    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Misc Scripts -->
    <script src="/js/scripts.js"></script>

    <!-- Fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- OpenGraph -->
    <title>Donations</title>

    <link rel="icon" type="image/png" href="/img/blargbotmini.png">

    <meta name="author" content="stupid cat">

    <meta content="A multipurpose discord bot, here to serve you!" property="og:description">

    <meta content="blargbot" property="og:title">
    <meta content="blargbot" property="og:site_name">
    <meta content='http://blargbot.xyz/img/blargbot.png' property='og:image'>
    <meta content='https://blargbot.xyz/img/blargbot.png' property='og:image:secure_url'>
    <meta content='image/png' property='og:image:type'>
    <meta content='512' property='og:image:width'>
    <meta content='512' property='og:image:height'>

    <style>
        p {
            margin-bottom: 1rem !important;
        }

        strong {
            font-weight: bold;
        }
    </style>
</head>

<body class="blue-grey">
    {{> sidebar}}

    <a class="btn-floating btn-primary button-collapse btn-large waves-effects waves-light" data-activates="slide-out">
        <i class="large material-icons">menu</i></a>

    <header class="page-header">
        <h1 class="centre">Privacy Policy</h1>
    </header>
    <main>

        <div class="section">

            <div class="row">
                <div class="col s12 m10 offset-m1 l8 offset-l2">
                    <div class='card blue-grey darken-3 z-depth-2'>
                        <div class='card-content'>
                            <h2>Privacy Policy</h2>
                            <p>Last updated: October 29, 2021</p>
                            <p>
                                Disclaimer: I am not a lawyer. I am just a developer, and this is a hobby project.
                                And as such, I cannot afford to hire a laywer.
                                I'm writing this Privacy Policy to the best of my abilities.
                                If there are any flaws, or things that need to be changed, please let me know!
                            </p>

                            <p>
                                By adding and using blargbot, you agree to everything within this Privacy Policy.
                                If you disagree, please remove blargbot and request that your data be deleted.
                            </p>

                            <h3>Definitions</h3>
                            <p>For the purposes of this Privacy Policy:</p>
                            <ul class="browser-default">
                                <li><strong>Discord</strong> refers to the chat platform created and operated by Discord, Inc.</li>
                                <li>
                                    <strong>User</strong> or <strong>Account</strong> ("you") means a unique account created by you on the Discord chat platform.
                                </li>
                                <li><strong>Guild</strong> or <strong>Server</strong> means a server or guild on the Discord chat platform.</li>
                                <li><strong>blargbot</strong> ("we", "I") is a bot that interacts with Discord in order to provide functionality to the user.</li>
                            </ul>

                            <h3>Information We Collect</h3>

                            <p>We collect the following information about users:</p>
                            <ul class="browser-default">
                                <li>
                                    General information about users who have executed commands, such as:
                                    <ul class="browser-default">
                                        <li>their ID</li>
                                        <li>their username</li>
                                        <li>their discriminator</li>
                                        <li>their avatar URL</li>
                                        <li>their history of usernames</li>
                                        <li>other blargbot-specific information explicitly provided by the user</li>
                                    </ul>
                                </li>
                                <li>
                                    General information about guilds, such as:
                                    <ul class="browser-default">
                                        <li>guild id</li>
                                        <li>guild name</li>
                                        <li>other blargbot-specific configurations</li>
                                    </ul>
                                </li>
                                <li>Chat logs (where applicable)</li>
                            </ul>

                            <h3>Usage of Information</h3>

                            <p>
                                General information is primarily used for caching purposes, to ease the burden on Discord's API.
                                The exception to this is username history, which is used for historic username lookup as a moderation utility.
                            </p>

                            <p>
                                blargbot-specific information and/or configurations are used to faciliate functionality within blargbot,
                                such as the tag system.
                            </p>

                            <p>
                                Chat logs are stored purely for moderation purposes,
                                and are only collected when the guild has explicitly opted into the chat log system.
                                It's expected that when guilds opt-in to chat logs, they convey this to users within the guild.
                                Chat logs are used by users to pull up a list of messages sent in a guild, including message edits and deletions.
                                Additionally, chat logs may be used by blargbot to supplement other logs with additional context (ex. message deletion logs).
                            </p>

                            <h3>Information Lifespan</h3>

                            <p>
                                General information and name history are stored forever, or until the lifespan of blargbot has been exceeded.
                                It can be requested to be deleted at any point. See the Information Deletion section.
                            </p>

                            <p>Chat logs are stored for exactly 7 days from the time the message has been logged.</p>

                            <h3>Information Deletion</h3>

                            <p>To request that information is deleted, please either:</p>
                            <ul class="browser-default">
                                <li>contact me via email at: cat@blargbot.xyz</li>
                                <li>contact me via discord at <code>stupid cat#8160</code> - <a href="https://discord.gg/Uv74eSD" target="_blank">support server</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer blue-grey darken-2">
        <div class="section">
            <div class="rows">
                <div class="col s12 m10 offset-m1 l6 offset-l3">
                    <p class="centre">
                        &copy; 2016-2021 - Ratismal (stupid cat)
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Menu Toggle Script -->
    <script>
    init();
</script>


</body>

</html>