<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Latest compiled and minified CSS -->
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="../css/main.css">

    <!-- Font Awesome -->
    <script src="//use.fontawesome.com/811ca3dd9f.js"></script>

    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Misc Scripts -->
    <script src="../js/scripts.js"></script>

    <!-- Fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- OpenGraph -->
    <title>Tags</title>

    <link rel="icon" type="image/png" href="/img/blargbotmini.png">

    <meta name="author" content="stupid cat">

    <meta content="Documentation for the tag command creation system." property="og:description">

    <meta content="tag documentation" property="og:title">
    <meta content="blargbot" property="og:site_name">
    <meta content='http://blargbot.xyz/img/blargbot.png' property='og:image'>
    <meta content='https://blargbot.xyz/img/blargbot.png' property='og:image:secure_url'>
    <meta content='image/png' property='og:image:type'>
    <meta content='512' property='og:image:width'>
    <meta content='512' property='og:image:height'>

</head>

<body class="blue-grey">
    {{> sidebar}}

    <a class="btn-floating btn-primary button-collapse btn-large waves-effects waves-light" data-activates="slide-out">
        <i class="large material-icons">menu</i></a>

    <header class="page-header">
        <h1 class="centre">BBTag</h1>
    </header>
    <main>
        <div class="section">
            <div class='row'>
                <div class='col s12 m10 offset-m1'>
                    <p class="flow-text">blargbot is equipped with a system of tags called BBTag, designed to mimic a
                        programming language while
                        still remaining simple. You can use this system as the building-blocks to create your own
                        advanced
                        command system, whether it be through public tags or guild-specific custom commands.</p>
                    <p class="flow-text">Have a suggestion for a tag? I'm all ears! Drop me a suggestion using
                        <code>b!suggest</code> or come
                        by my guild to talk to me in person.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m10 offset-m1 l8 offset-l2">
                    <div class="card blue-grey darken-2">
                        <div class="card-content">
                            <span class="card-title">Editor</span>

                            <p class="flow-text">There is also an online BBTag IDE (in beta) that you can use to see the
                                contents of your custom
                                command a little bit easier. Feel free to give it a try!</p>
                        </div>
                        <div class="card-action">
                            <a href="/tags/editor">BBTag Editor</a>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class='centre'>Features</h1>

            <div class='row'>
                <div class='col s12 m10 offset-m1 l8 offset-l2'>
                    <div class='card blue-grey darken-2'>
                        <div class='card-content'>
                            <span class='card-title'>Variables</span>
                            <p class='flow-text'>
                                BBTag features four different types of variables, each with a different scope. These
                                types are distinguished from each other
                                with prefixes.
                            </p>

                        </div>
                        <div class="card-action">
                            <a href="/tags/variables">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col s12 m10 offset-m1 l8 offset-l2'>
                    <div class='card blue-grey darken-2'>
                        <div class='card-content'>
                            <span class='card-title'>Arrays</span>
                            <p class='flow-text'>
                                BBTag has array implementation for more complex data stuctures.
                            </p>

                        </div>
                        <div class="card-action">
                            <a href="/tags/arrays">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            {{#tags}} {{/tags}}
            <div class='row'>
                <h1 class="centre" id="examples">
                    Examples
                </h1>
            </div>

            <div class="row">

                <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                    <p class="centre">Tags can be combined, nested, and used together to create powerful commands. Here
                        are some examples of
                        existing tags.</p>
                </div>
            </div>


            <style>
                .collection {
                    border: none;
                    outline: none padding: 5px;
                }

                strong {
                    font-weight: bold;
                }
            </style>

            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <div class="card blue-grey darken-2">
                        <div class="card-content">
                            <span class="card-title">waifu</span>
                            <ul class="collection z-depth-2 blue-grey darken-4">
                                <li class="collection-item avatar blue-grey darken-4">
                                    <img src="/img/catavatar.png" alt="" class="circle backavatar"><span class="title" style="padding-right: 5px;">stupid cat#8160</span>
                                    <p>b!t uwaifu stupid cat</p>
                                </li>
                                <li class="collection-item avatar blue-grey darken-4">
                                    <img src="/img/blargicon.png" alt="" class="circle backavatar"><span class="title" style="padding-right: 5px;">blargbot#0128</span>
                                    <div class="chip">BOT</div>
                                    <p>❤ I'd rate stupid cat as 9.5/10 ❤</p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-content">
                            <pre><code class="block">{if;
  >;
  {argslength};
  0;
  {set;
    waifuhash;
    {hash;
      {userid;
        {args}}
    }
  }
  {set;
    waifurating;
    {math;
      %;
      {if;
        <;
        {get;waifuhash};
        0;
        {math;*;{get;waifuhash};-1};
        {get;waifuhash}
      };
      100
    }
  }
  {set;
    waifumoji;
    {if;
      <=;
      {get;waifurating};
      60;
      💔;
      ❤
    }
  }
  {get;waifumoji} I'd rate {usernick;{args}} as {math;/;{get;waifurating};10}/10 {get;waifumoji};
  Calculate the waifu rating of any user. Use waifu if you want to use any word.
Usage: `uwaifu &lt;name&gt;`</code></pre>
                        </div>

                    </div>
                </div>
                <div class="col s12 m10 offset-m1">
                    <div class="card blue-grey darken-2">
                        <div class="card-content">
                            <span class="card-title">sleepykitty</span>
                            <ul class="collection z-depth-2 blue-grey darken-4">
                                <li class="collection-item avatar blue-grey darken-4">
                                    <img src="/img/catavatar.png" alt="" class="circle backavatar"><span class="title" style="padding-right: 5px;">stupid cat#8160</span>
                                    <p>b!t sleepykitty</p>
                                </li>
                                <li class="collection-item avatar blue-grey darken-4">
                                    <img src="/img/blargicon.png" alt="" class="circle backavatar"><span class="title" style="padding-right: 5px;">blargbot#0128</span>
                                    <div class="chip">BOT</div>
                                    <p>Here's your sleepy kitty, stupid cat!</p>
                                    <p><a href="http://i.imgur.com/EDBtvW4.gif">http://i.imgur.com/EDBtvW4.gif</a></p>
                                    <img src="//i.imgur.com/EDBtvW4.gif" alt="A cat falling asleep">
                                </li>
                            </ul>
                        </div>
                        <div class="card-content">
                            <code class="block">
                        Here's your sleepy kitty, {username}!
                        {randchoose; http://i.imgur.com/zuhDRDT.gif ;http://i.imgur.com/0Jouxni.gif
                        ;http://i.imgur.com/xP4Twvo.gif ;http://i.imgur.com/EDBtvW4.gif
                        ;http://i.imgur.com/Pr0ovhy.gif ;http://i.imgur.com/CNh2Jen.gif
                        ;http://i.imgur.com/lYTc1f3.gif ;http://i.imgur.com/9125v7e.gif
                        ;http://i.imgur.com/d1cGI9H.gif ;http://i.imgur.com/Jdxjdgm.gif
                        ;http://i.imgur.com/0ixS2gi.gif ;http://i.imgur.com/p8soxvZ.gif
                        ;http://i.imgur.com/bssgLxK.gif ;http://i.imgur.com/tLVte5N.gif
                        ;http://i.imgur.com/PyvrGTI.gif ;http://i.imgur.com/Hfh4LQH.gif
                        ;http://i.imgur.com/mDTWNSY.gif ;http://i.imgur.com/fc3BsdW.gif
                        ;http://i.imgur.com/vTXqGdS.gif ;http://i.imgur.com/DzMOiZx.gif
                        ;http://i.imgur.com/IWa6N2B.gif ;http://i.imgur.com/YxYpOHc.gif
                        ;http://i.imgur.com/YwLHV2L.gif}
                    </code>
                        </div>

                    </div>
                </div>

                <div class="col s12 m10 offset-m1">
                    <div class="card blue-grey darken-2">
                        <div class="card-content">
                            <span class="card-title">f</span>

                            <ul class="collection z-depth-2 blue-grey darken-4">
                                <li class="collection-item avatar blue-grey darken-4">
                                    <img src="/img/catavatar.png" alt="" class="circle backavatar"><span class="title" style="padding-right: 5px;">stupid cat#8160</span>
                                    <p>b!t f</p>
                                </li>
                                <li class="collection-item avatar blue-grey darken-4">
                                    <img src="/img/blargicon.png" alt="" class="circle backavatar"><span class="title" style="padding-right: 5px;">blargbot#0128</span>
                                    <div class="chip">BOT</div>
                                    <p><strong>stupid cat</strong> has paid their respects. Total respects given:
                                        <strong>13</strong>
                                    </p>
                                </li>
                            </ul>

                        </div>
                        <div class="card-content">
                            <code class="block">
                        {fallback;0}{set;respects;{math;+;{get;respects};1}} **{usernick}** has paid their respects.
                        Total respects given: **{get;respects}**
                    </code>
                        </div>

                    </div>
                </div>
            </div>

        </div>


        <!-- Menu Toggle Script -->
        <script>
    init();
</script>
    </main>
    <footer class="page-footer blue-grey darken-2">
        <div class="section">
            <div class="rows">
                <div class="col s12 m10 offset-m1 l6 offset-l3">
                    <p class="centre">
                        &copy; 2016-2021 - Ratismal (stupid cat)
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>