<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<!-- Latest compiled and minified CSS -->
	<!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
	<!--Import Google Icon Font-->
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<link rel="stylesheet" href="../css/main.css">

	<!-- Font Awesome -->
	<script src="//use.fontawesome.com/811ca3dd9f.js"></script>

	<!-- jQuery library -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Compiled and minified JavaScript -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

	<!-- Misc Scripts -->
	<script src="../js/scripts.js"></script>

	<!-- Fonts -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- OpenGraph -->
	<title>Important update</title>

	<link rel="icon" type="image/png" href="/img/blargbotmini.png">

	<meta name="author" content="stupid cat">

	<meta content="An update about the recent data loss." property="og:description">

	<meta content="Important update" property="og:title">
	<meta content="blargbot" property="og:site_name">
	<meta content='http://blargbot.xyz/img/blargbot.png' property='og:image'>
	<meta content='https://blargbot.xyz/img/blargbot.png' property='og:image:secure_url'>
	<meta content='image/png' property='og:image:type'>
	<meta content='512' property='og:image:width'>
	<meta content='512' property='og:image:height'>

</head>

<body class="blue-grey">

	{{> sidebar}}

	<a class="btn-floating btn-primary button-collapse btn-large waves-effects waves-light" data-activates="slide-out">
        <i class="large material-icons">menu</i></a>

	<nav class='blue-grey darken-1' id='trail'>
		<div class='nav-wrapper'>
			<div class='col s12'>
				<a href='/' class='breadcrumb'>blargbot</a>
				<a href='#' class='breadcrumb'>Important Update</a>
			</div>
		</div>
	</nav>

	<header class="page-header">
		<h1 class="centre">Important Update</h1>
	</header>
	<main>
		<div class="section">
			<div class="row">
				<div class="col s12 m10 offset-m1 update">
					<p>Hi, everyone. I&#39;m going to cut right to the chase.</p>
					<p>blargbot was killed.</p>
					<p>As of April 3rd 2020, 23:57 UTC, a malicious actor gained access to my RethinkDB database, and deleted it.
						Every
						single table is gone. I tried doing a disk recovery, but it failed. I tried looking for backups, but
						couldn&#39;t find any. There were no snapshots or anything else that could be recovered.</p>
					<h3 id="what-was-lost-">What was lost?</h3>
					<p>Instead of breaking down what got lost, it would be quicker to state what <em>didn&#39;t</em>.</p>
					<ul class="browser-default">
						<li>Chat logs, as they&#39;re stored in a separate Scylla database</li>
						<li>Variables, as they&#39;re stored in a separate PostgreSQL database</li>
					</ul>
					<p>Additionally, I have been able to restore public tags from state logging, however no metadata (usages,
						favourites, etc.) has been retained.</p>
					<p>Unless backed up to variables or some external storage, all custom commands have been lost. All server
						configuration has been lost. All user information has been lost.</p>
					<p>I&#39;m sorry.</p>
					<h3 id="how-did-this-happen-">How did this happen?</h3>
					<p>The actor gained access to the database using an exposed cluster port in RethinkDB, which apparently gives
						full unauthenticated access to the entire database. The wipe was clean; RethinkDB had logs of each
						individual table being deleted. I am confident than the actor did not gain access to the server itself.</p>
					<p>There are several things that I am directly responsible for:</p>
					<ul class="browser-default">
						<li>Ports were exposed. This meant that anyone could hit any port, given they could access my server&#39;s
							IP.</li>
						<li>RethinkDB&#39;s IP bindings were set to &#39;all&#39;. This meant that anyone from anywhere was able to
							connect to my RethinkDB instance. The reason this was set was because I was under the impression that it
							would only bind the driver port, which does have authentication, but instead it also exposed the
							unauthenticated cluster port. Note that the behaviour of this configuration made no mention of it
							impacting the cluster port.</li>
						<li>Backups weren&#39;t being made. There&#39;s really no excuse for this, I should have been making
							backups. But unfortunately, I didn&#39;t. The only backup I could find was from 2017, which likely
							wouldn&#39;t even load due to how many changes blargbot has gone through since.</li>
					</ul>
					<h3 id="what-s-going-to-happen-">What&#39;s going to happen?</h3>
					<p>This is the tough one. I don&#39;t think it&#39;s any secret that I&#39;ve been incredibly burnt out from
						this project for a long time now. I simply don&#39;t have the time or the motivation. And something like
						this happening only twists the knife further.</p>
					<p>But at the same time, I know how much this bot means to all of you, and I don&#39;t want to just give up
						and throw it away. So it&#39;s back up in this reset state. Most data might be lost, but we still have
						variables. And for those of you who back up their commands, that might be enough to get a rocky start back
						up.</p>
					<p>I have already increased the security of my server to prevent anything else from happening. All ports have
						been restricted, all SSH access keys replaced. I&#39;ll be making sure that an incident like this should
						never happen again.</p>
					<p>Going forward, I have plans to</p>
					<ul class="browser-default">
						<li>Make regular backups, for worst case scenarios</li>
						<li>Move away from RethinkDB, as it&#39;s caused me nothing but grief since I started using it</li>
						<li>Add extra utilities to help users back up their servers, including retrieving active variables,
							shrinkwrapping an entire server, etc.</li>
					</ul>
					<h3 id="i-m-sorry-">I&#39;m sorry.</h3>
					<p>There&#39;s really nothing else I can do right now but apologize. I&#39;m sorry. Due to my negligence, your
						hard work and time spent using and setting up my bot has been lost. Nothing I can say or do will ever make
						up for that.</p>
					<p>Going forward, I&#39;m going to be taking extra caution. I&#39;m going to be doing regular, tangible
						backups. I&#39;m going to be tightening security.</p>
					<p>But there&#39;s no way I can ask for your forgiveness, or ask for your trust again.</p>
					<p>I can&#39;t blame you if you walk away. I can&#39;t blame you if you remove blargbot and never think about
						it again.</p>
					<p>The past 5 years have been a wild ride, full of joy, pain, triumphs, mistakes, and regrets. And I can&#39;t
						thank any of you enough for the amount of support I&#39;ve been given.</p>
					<p>So, thank you. And goodbye for now.</p>

				</div>
			</div>
		</div>
		<!-- Menu Toggle Script -->
		<script>
            init();
        </script>
	</main>
	<footer class="page-footer blue-grey darken-2">
		<div class="section">
			<div class="rows">
				<div class="col s12 m10 offset-m1 l6 offset-l3">
					<p class="centre">
						&copy; 2016-2021 - Ratismal (stupid cat)
					</p>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>