<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<!-- Latest compiled and minified CSS -->
	<!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
	<!--Import Google Icon Font-->
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<link rel="stylesheet" href="../css/main.css">

	<!-- Font Awesome -->
	<script src="//use.fontawesome.com/811ca3dd9f.js"></script>

	<!-- jQuery library -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Compiled and minified JavaScript -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

	<!-- Misc Scripts -->
	<script src="../js/scripts.js"></script>

	<!-- Fonts -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- OpenGraph -->
	<title>Tags</title>

	<link rel="icon" type="image/png" href="/img/blargbotmini.png">

	<meta name="author" content="stupid cat">

	<meta content="Documentation for the tag command creation system." property="og:description">

	<meta content="tag documentation" property="og:title">
	<meta content="blargbot" property="og:site_name">
	<meta content='http://blargbot.xyz/img/blargbot.png' property='og:image'>
	<meta content='https://blargbot.xyz/img/blargbot.png' property='og:image:secure_url'>
	<meta content='image/png' property='og:image:type'>
	<meta content='512' property='og:image:width'>
	<meta content='512' property='og:image:height'>

</head>

<body class="blue-grey">

	{{> sidebar}}

	<a class="btn-floating btn-primary button-collapse btn-large waves-effects waves-light" data-activates="slide-out">
        <i class="large material-icons">menu</i></a>

	<nav class='blue-grey darken-1' id='trail'>
		<div class='nav-wrapper'>
			<div class='col s12'>
				<a href='/tags' class='breadcrumb'>BBTag</a>
				<a href='#' class='breadcrumb'>Variables</a>
			</div>
		</div>
	</nav>

	<header class="page-header">
		<h1 class="centre">Variables</h1>
	</header>
	<main>
		<div class="section">
			<div class='row'>
				<div class="col s12 m10 offset-m1">
					<p class="flow-text">BBTag feature five different types of variables, each with a different scope. These types are distinguished from each
						other with prefixes. These variables can be used for numerous operations and functions.</p>
					<h2 class="centre">Variable Classification</h2>
					<table class='flow-text'>
						<thead>
							<tr>
								<th>Variable type</th>
								<th>Prefix</th>
								<th>Persistent</th>
								<th style="text-align:left">Access</th>
								<th>Information</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>Temporary</td>
								<td>
									<code>~</code>
								</td>
								<td>
									<i class="material-icons">check_box_outline_blank</i>
								</td>
								<td class="accessStyle">
									<p><i class="material-icons">check_box_outline_blank</i> Author</p>
									<p><i class="material-icons">check_box_outline_blank</i> Anyone</p>
								</td>
								<td class="informationStyle">
									<p>All the other variable types are immediately stored to a database for data persistence. Temporary variables, however,
										do not. As such, they are faster and have the smallest scope.</p>
									<p>Use these variables if you don't need to reuse them between executions.</p>
								</td>
							</tr>

							<tr>
								<td>Local</td>
								<td>
									<span>none</span>
								</td>
								<td>
									<p><i class="material-icons">check_box</i></p>
								</td>
								<td class="accessStyle">
									<p><i class="material-icons">check_box_outline_blank</i> Author</p>
									<p><i class="material-icons">check_box_outline_blank</i> Anyone</p>
								</td>
								<td class="informationStyle">
									<p>Local variables are your classic variables. They are unique per-tag, and not shared by anything.</p>
								</td>
							</tr>

							<tr>
								<td>Guild</td>
								<td>
									<code>_</code>
								</td>
								<td>
									<p><i class="material-icons">check_box</i></p>
								</td>
								<td class="accessStyle">
									<p><i class="material-icons">check_box</i> Author</p>
									<p><i class="material-icons">check_box</i> Anyone</p>
								</td>
								<td class="informationStyle">
									<p>Unlike local variables, guild variables are unique per-guild (server). They are intended for allowing separate tags
										to communicate with each other and other tags on the same guild.</p>
									<p>Additionally, there are actually two separate pools of guild variables - one for tags, and another for custom commands.
										This means that public tags don't share the same variables as custom commands, even on the same guild.</p>
								</td>
							</tr>

							<tr>
								<td>Author</td>
								<td>
									<code>@</code>
								</td>
								<td>
									<p><i class="material-icons">check_box</i></p>
								</td>
								<td class="accessStyle">
									<p><i class="material-icons">check_box</i> Author</p>
									<p><i class="material-icons">check_box_outline_blank</i> Anyone</p>
								</td>
								<td class="informationStyle">
									<p>Author variables are similar to guild variables, in that they allow tags to communicate with each other. However,
										they are unique per-author. This means that it is a set of variables that only you can ever touch.</p>
									<p>Other than global variables, author variables are the only type that allow for tags and custom commands to communicate.</p>
								</td>
							</tr>

							<tr>
								<td>Global</td>
								<td>
									<code>*</code>
								</td>
								<td>
									<p><i class="material-icons">check_box</i></p>
								</td>
								<td class="accessStyle">
									<p><i class="material-icons">check_box</i> Author</p>
									<p><i class="material-icons">check_box</i> Anyone</p>
								</td>
								<td class="informationStyle">
									<p>These variables are in a public pool, meaning that anybody is able to access or modify them. As a general rule of
										thumb, if you don't want somebody using your variables, don't use global ones!</p>
								</td>
							</tr>

							<tr>
								<td>Commit</td>
								<td>
									<code>!</code>
								</td>
								<td>
									none
								</td>
								<td>
									none
								</td>
								<td class="informationStyle">
									<p>This is an additional prefix for <code>{set}</code> and <code>{get}</code>. This prefix can be combined with the
										other prefixes and will act the same as if you have called <code>{set}</code> and then <code>{commit}</code> immediately
										after. More at <a>https://blargbot.xyz/tags#commit</a>.</p>
								</td>
							</tr>
						</tbody>

						<tfoot>
							<p>Consider that anyone interacting with the variables know their type and names and have the permissions to use <code>ccommand</code>								and <code>tag</code> commands.</p>
						</tfoot>
					</table>
				</div>
			</div>


		</div>
		<!-- Menu Toggle Script -->
		<script>
            init();
        </script>
	</main>
	<footer class="page-footer blue-grey darken-2">
		<div class="section">
			<div class="rows">
				<div class="col s12 m10 offset-m1 l6 offset-l3">
					<p class="centre">
						&copy; 2016-2018 - Ratismal (stupid cat)
					</p>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>