**/*.js
**/*.js.map
**/*.cjs
**/*.cjs.map
**/*.mjs
**/*.mjs.map
/.nyc_output
/.devcontainer
/.github
/.vscode
/.git
/infra
/coverage
**/node_modules/**
**/.env
/config.json
**/Dockerfile
/out

/.yarn/*
!/.yarn/cache
!/.yarn/cache/**
!/.yarn/patches
!/.yarn/patches/**
!/.yarn/plugins
!/.yarn/plugins/**
!/.yarn/releases
!/.yarn/releases/**
!/.yarn/sdks
!/.yarn/sdks/**
!/.yarn/versions
!/.yarn/versions/**
!/.pnp.*
!/build/build.mjs