logs/*
.nuxt/
node_modules/*
userdata/*
.idea/*
package.json
cache/*
cache*
img/generated/*
chocobot/*
config.json
servers.json
*.html
*.ttf
*.jpg
*.json
*.gif
*.db
*.db-journal
*.txt
*.bat
*.psd
*.sql
*.diff
*.log
eeek/*
out/*
out.png
music/*
img/avatars/*
img/avatars-old/*
img/avatars-ol/*
kek
**/*.js
**/*.js.map
**/*.mjs
**/*.mjs.map
**/*.cjs
**/*.cjs.map
**/*.disabled
!*cache.ts
*.cpuprofile
!.vscode/**/*.json
/coverage/**/*
test.ts
test.bbtag