.gitignore
.eslintrc
.eslintrc.json
.jshintrc
fonts/*
logs/*
node_modules/*
userdata/*
.idea/*
cache/*
.vscode/*
img/generated/*
chocobot/*
config.json
voiceSettings.json
vars.json
servers.json
*.html
*.ttf
*.jpg
*.gif
*.db
*.db-journal
*.txt
*.bat
*.psd
*.sql
*.diff
*.log
eeek/*
out.png
music/*
img/avatars/*
img/avatars-old/*
img/avatars-ol/*
backend/public/codemirror/*
backend/public/fonts/*
/avatar.js
testkek1.js