logs/*
.nuxt/
node_modules/*
userdata/*
.idea/*
package.json
cache/*
cache*
.vscode/*
img/generated/*
chocobot/*
config.json
servers.json
*.html
*.ttf
*.jpg
*.json
*.gif
*.db
*.db-journal
*.txt
*.bat
*.psd
*.sql
*.diff
*.log
eeek/*
out.png
music/*
img/avatars/*
img/avatars-old/*
img/avatars-ol/*
backend/public/codemirror/*
backend/public/fonts/*
/avatar.js
ratelimit.js
command.js
testkek1.js
testkek.js
testgithub.js
processwhite.js
kek
jsondiff.js
!colors.json
.nuxt/
.env