{
  "cache": false,
  "check-coverage": true,
  "exclude": [
    "coverage/**",
    ".yarn/**",
    "*/*/test/**",
    "**/*.d.{ts,mts,cts}",
    "*.pnp.*"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true,
  "branches": 27,
  "lines": 34,
  "functions": 33,
  "statements": 34
}