{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".ts",
    ".cts",
    ".mts"
  ],
  "include": [
    "**/*.js",
    "**/*.ts",
    "**/*.mjs",
    "**/*.mts",
    "**/*.cjs",
    "**/*.cts"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*.test.ts",
    "**/*.d.mts",
    "**/*.test.mts",
    "**/*.d.cts",
    "**/*.test.cts",
    "test/**",
    "*.ts",
    "*.mts",
    "*.cts"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true,
  "branches": 80,
  "lines": 80,
  "functions": 80,
  "statements": 80
}