<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Latest compiled and minified CSS -->
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../css/materialize.min.css">

    <link rel="stylesheet" href="../css/main.css">

    <!-- Font Awesome -->
    <script src="//use.fontawesome.com/811ca3dd9f.js"></script>

    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="../js/materialize.min.js"></script>

    <!-- Misc Scripts -->
    <script src="../js/scripts.js"></script>

    <!-- Fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- OpenGraph -->
    <title>dashboard</title>

    <link rel="icon" type="image/png" href="/img/blargbotmini.png">

    <meta name="author" content="stupid cat">

    <meta content="Manage the bot's settings from the comfort of a website." property="og:description">

    <meta content="Dashboard" property="og:title">
    <meta content="blargbot" property="og:site_name">
    <meta content='http://blargbot.xyz/img/blargbot.png' property='og:image'>
    <meta content='https://blargbot.xyz/img/blargbot.png' property='og:image:secure_url'>
    <meta content='image/png' property='og:image:type'>
    <meta content='512' property='og:image:width'>
    <meta content='512' property='og:image:height'>

</head>

<body class="blue-grey">
    <div id="modal1" class="modal blue-grey darken-3">
        <div id='modal-content' class="modal-content">
        </div>
        <div class="modal-footer blue-grey darken-4 ">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat white-text ">Close</a>
        </div>
    </div>

    {{> sidebar}}



    <a class="btn-floating btn-primary button-collapse btn-large waves-effects waves-light" data-activates="slide-out">
        <i class="large material-icons">menu</i></a>

    <header class="page-header">


        <h1 class="centre">dashboard</h1>
    </header>
    <main>

        <div class="section">
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <div class="card blue-grey darken-2">
                        {{#if user}}

                        <div id='workspace'>
                            {{> displayGuilds}}
                        </div>

                        {{else}}
                        <span class='card-content'>You need to be logged in to use this!</span> {{/if}}
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- Menu Toggle Script -->
    <script>
        init();
    </script>
<footer class="page-footer blue-grey darken-2">
    <div class="section">
        <div class="rows">
            <div class="col s12 m10 offset-m1 l6 offset-l3">
                <p class="centre">
                    &copy; 2016 - Ratismal (stupid cat)
                </p>
            </div>
        </div>
    </div>
</footer>

</body>
<script>
    $(document).ready(function () {
        $('.modal-trigger').leanModal();
    });

    var sid = '{{sessionId}}';
    var wss = new WebSocket('{{url}}');
    var workspace = document.getElementById('workspace')
    var index = workspace.innerHTML;
    var settings = JSON.parse(`{{gsettings}}`);

    wss.onmessage = function (event) {
        let data = JSON.parse(event.data);
        console.dir(data);
        if (data.code == 200) {
            switch (data.data.type) {
                case 'displayGuild':
                    var output = `<form class='col s12 blue-grey darken-2'>`;

                    for (var i = 0; i < settings.length; i++) {
                        output += `<div class='row'><div class='col s1'>
<button data-target="modal1" class="btn-floating modal-trigger")' onclick='setModal("${settings[i].desc.replace(/"/g, '\\"').replace(/'/g, '\\')}")'><i class='material-icons'>help_outline</i></button>
                            </div>
        <div class='input-field col s11'>`;
                        var value = data.data.guild.settings[settings[i].key];
                        switch (settings[i].type) {
                            case 'int':
                                break;
                            case 'bool':
                                break;
                            case 'string':
                            default:
                                output += `<input value="${value ? value.replace(/"/g, '&quot;') : ''}" id='${settings[i].key}' type='text'>
            <label for='${settings[i].key}'>${settings[i].name}</label>`;
                                break;
                        }

                        output += `</div></div>`;
                    }
                    workspace.innerHTML = output;
                    $('.modal-trigger').leanModal();
                    Materialize.updateTextFields();

                    break;
            }
        }
    }

    function setModal(text) {
        document.getElementById('modal-content').innerHTML = text;
    }

    function sendData(type, data) {
        wss.send(JSON.stringify({ type, sid, data }));
    }
</script>

</html>