@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@import 'materialize';

body {
    font-family: 'Ubuntu';
}

html, body {
    margin: 0;
    padding: 0;
}

#app {
    @extend .blue-grey;
    @extend .white-text;

    display: flex;
    min-height: 100vh;
    flex-direction: column;

    padding: 0;
    width: 100%;
}

main {
    flex: 1 0 auto;
    margin: 10px;
}

footer, header {
    @extend .blue-grey.darken-2;
    @extend .z-depth-1;
}

nav {
    @extend .blue-grey.darken-2;
}

.collection, .collection .collection-item {
    @extend .blue-grey.darken-1;
    border: 0px;
    border-bottom: 0px !important;
}

.allcaps {
    text-transform: uppercase;
}

.card {
    @extend .blue-grey.darken-1;
}

.card:hover {
    @extend .z-depth-2;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
}

.card-row .card {
    flex: 1 1 300px;
    margin: 10px;
}