<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Latest compiled and minified CSS -->
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="../css/main.css">

    <!-- Font Awesome -->
    <script src="//use.fontawesome.com/811ca3dd9f.js"></script>

    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Misc Scripts -->
    <script src="../js/scripts.js"></script>

    <!-- Fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- OpenGraph -->
    <title>Tags</title>

    <link rel="icon" type="image/png" href="/img/blargbotmini.png">

    <meta name="author" content="stupid cat">

    <meta content="Documentation for the tag command creation system." property="og:description">

    <meta content="tag documentation" property="og:title">
    <meta content="blargbot" property="og:site_name">
    <meta content='http://blargbot.xyz/img/blargbot.png' property='og:image'>
    <meta content='https://blargbot.xyz/img/blargbot.png' property='og:image:secure_url'>
    <meta content='image/png' property='og:image:type'>
    <meta content='512' property='og:image:width'>
    <meta content='512' property='og:image:height'>

</head>

<body class="blue-grey">

    {{> sidebar}}

    <a class="btn-floating btn-primary button-collapse btn-large waves-effects waves-light" data-activates="slide-out">
        <i class="large material-icons">menu</i></a>

    <nav class='blue-grey darken-1' id='trail'>
        <div class='nav-wrapper'>
            <div class='col s12'>
                <a href='/tags' class='breadcrumb'>BBTag</a>
                <a href='#' class='breadcrumb'>Terms of Service</a>
            </div>
        </div>
    </nav>

    <header class="page-header">

        <h1 class="centre">
            Terms of Service
        </h1>
    </header>
    <main>
        <div class="section">
            <div class='row'>
                <div class='col s12 m10 offset-m1'>
                    <p class='flow-text'>By creating public tags using the BBTag system, I acknowledge and agree to the
                        following:</p>
                    <ol>
                        <li>I will not create public tags containing NSFW content.
                            <ol type='i'>
                                <li>NSFW content is defined by but not limited to the following criteria:
                                    <ol type='a'>
                                        <li>Being sexually explicit or suggestive</li>
                                        <li>Containing any other content that may be considered unsuitable for the
                                            workplace,
                                            school, or any other public setting</li>
                                    </ol>
                                </li>
                                <li>These criteria may be further defined by individual or specific review.</li>
                                <li>NSFW content is allowed if the tag includes an {nsfw} tag, restricting it to NSFW
                                    channels
                                    only
                                </li>
                            </ol>
                        </li>
                        <li>I will not create public tags containing illegal or unsafe content
                            <ol type='i'>
                                <li>Illegal content is defined by but not limited to the following criteria:
                                    <ol type='a'>
                                        <li>Child pornography</li>
                                        <li>Copywritten material that is not your own IP (Intellectual Property),
                                            including duplicates
                                            of existing tags</li>
                                        <li>Gore, scat, or other content that may cause others to feel ill at ease</li>
                                    </ol>
                                </li>
                                <li>These criteria may be further defined by individual or specific review.</li>
                            </ol>
                        </li>
                        <li>I will not create public tags that attack, abuse, or offend individuals or minorities. This
                            is defined
                            by but not limited to the following:
                            <ol type='i'>
                                <li>Personal insults or attacks</li>
                                <li>Excessive racism or intolerance</li>
                                <li>DOXXing</li>
                                <li>Spamming (DM or otherwise)</li>
                            </ol>
                        </li>
                        <li>I will not create public tags which claim to give rewards for favouriting.
                            <ol>
                                <li>I acknowledge that spreading misinformation about favouriting tags may get my
                                    favourite counter
                                    reset.
                                </li>
                            </ol>
                        </li>
                        <li>I acknowledge that violating these terms will
                            <ol type='i'>
                                <li>Cause my tag to be deleted</li>
                                <li>Potentially cause me to be blacklisted from the system</li>
                                <li>Force me to undergo any other sort of restriction or punishment.</li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer blue-grey darken-2">
        <div class="section">
            <div class="rows">
                <div class="col s12 m10 offset-m1 l6 offset-l3">
                    <p class="centre">
                        &copy; 2016-2018 - Ratismal (stupid cat)
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>