html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#settings-modal {
    width: 90%;
    height: 90%;
}

body {
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.50em;
}

.centre {
    vertical-align: middle;
    text-align: center;
}

.container {
    width: 600px;
    margin: 0 auto;
    padding: 15px 0;
}

.main-header {}


/*
.container-med {
    width: 600px;
    margin: 0 auto;
    padding: 15px 0;
}
*/

.container-fluid a {
    color: #00e5ff;
}

a {
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    color: #00e5ff;
}

a:hover {
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    color: #84ffff;
}

h2 {
    color: #00e5ff;
}

code,
pre code {
    color: #00e5ff;
}

.panel {
    background-color: transparent;
    padding: 5px;
}

.panel h2 {
    margin-top: 0;
}

.sidebarBut {
    position: absolute;
    left: 15px;
    top: 15px;
}

.btn-primary {
    background: #4DD0E1;
    color: #ffffff;
    outline: none;
    border: 0 solid transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background: #80DEEA;
    outline: none;
    border: 0 solid transparent;
    color: #fff;
}

.btn-primary:active,
.btn-primary.active {
    background: #80DEEA;
    outline: none;
    border: 0 solid transparent;
    color: #fff;
}

a:hover {
    cursor: pointer;
}

.main-btn {
    width: 300px;
    margin: 5px;
}

.parallax-container {
    height: 300px;
}

.col {
    margin-top: 10px;
}

.full {
    width: 100%;
    margin: auto;
}

.subbody {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

pre {
    background-color: #263238;
    text-wrap: normal;
    display: block;
    border-radius: 5px;
    padding: 3px;
}

code {
    background-color: #263238;
    border-radius: 5px;
    padding: 3px;
}

.block {
    display: block;
    overflow: auto;
}

.button-collapse {
    position: fixed;
    top: 24px;
    left: 24px;
}

.collection-item, .collection, .collection-header {
    outline: none !important;
    border: none !important;
}


#slide-out .main-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.collapsible .left {
    width: 200px;
}

.sub-header {}

.sidebar-header {
    border-bottom: 1px solid #CFD8DC;
}

.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    /*padding: inherit;*/
}

.nav-wrapper {
    padding-left: 30px;
}

header,
main,
footer,
#trail {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer,
    #trail {
        padding-left: 0;
    }
}

.username {
    text-align: center;
    margin: 10px 0 0 5px;
}

.useravatar {
    margin-top: 10px;
    float: left;
}

.userbutton {
    line-height: 20px !important;
    height: 20px !important;
}

.mention {
    background: rgba(115, 139, 215, .1);
    color: #7289da;
    transition-duration: 0.2s;
}

.mention:hover {
    background: rgba(115, 139, 215, .7);
    color: #fff;
    transition-duration: 0.2s;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

ul.collapsible.collapsible-accordion .collapsible-header {
    padding: 0 32px;
}

.tagargs {
    margin: 10px 0;
}

.taglimits {
    margin-top: 10px;
    max-width: 100%;
    display: inline-block;
}

.taglimits:empty {
    display: none;
}

.taglimit {
    padding: 0 30px 0 0;
    min-width: fit-content;
    float: left;
}

th, td, tr { 
    border-bottom: 2px solid rgba(0,0,0,0.14); } th {
    background-color: #455a64 !important;
    font-weight: normal;
    text-transform: capitalize;
    padding: 3px 5px !important;
}

table {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    text-align: center;
    border: 1px solid transparent;
    border-collapse: collapse;
    background-color: #546e7a;
}

.accessStyle, .informationStyle {
    text-align: left;
}

.informationStyle {
    padding: 5px;
    width: 35%;
}

.tagexamples blockquote {
    overflow-wrap: break-word;
}